<div class="container-fluid wrapper-section-dev">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp">
                    <img src="img/main-pick.jpg" alt="">
                </div>
            </header>
            <div class="dev-tittle">
                <h1 class="tittle">Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tittle-first">
                <h1>DESARROLLO DE <span>PÁGINAS WEB</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="wrapper-perfil">
                <img src="img/perfil.png" class="img" alt="...">
                <div class="perfil-body">
                    <h5 class="tittle"><span>Luis Fernando</span> Rodríguez Ponce</h5>
                    <div class="w-100">&nbsp</div>
                    <h6 class="tittle2">Freelancer</h6>
                    <p>Sigueme en mis redes sociales!!!</p>
                    <div class="social-network-wrapper">
                        <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                            <div class="social-icon facebook"></div>
                        </a>
                        <a href="https://twitter.com/lfgotluis3" target="_blank">
                            <div class="social-icon twiter"></div>
                        </a>
                        <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                            <div class="social-icon arduino"></div>
                        </a>
                        <a href="https://github.com/lfgotluis3" target="_blank">
                            <div class="social-icon git"></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber"
                            target="_blank">
                            <div class="social-icon youtube"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="wrapper-devcontact">
                <img src="img/158274-200.png" class="img" alt="...">
                <div class="devcontact-body">
                    <h5 class="tittle"><span>Cont</span>acto</h5>
                    <div class="tel">&nbsp</div>
                    <a href="tel:+525534296773">
                        <p class="tel">55 3429 6773</p>
                    </a>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                        <p class="email">developerluisf3@outlook.com</p>
                    </a>
                    <p>Ciudad de México, Cuauhtémoc</p>
                    <div class="w-100">&nbsp</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="wrapper-devpurposes">
                <img src="img/desarrollo.png" class="img" alt="...">
                <div class="devpurposes-body">
                    <h5 class="tittle"><span>Desa</span>rrollo</h5>
                    <div class="w-100">&nbsp</div>
                    <p>Necesitas una página personal o para tú negocio!!!</p>
                    <div class="wrapper-btn">
                        <button id="submit" type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#staticBackdrop">
                        Envia tu propuesta
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">ALGORITMO</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">                       
            <div class="wrapper-algorithm">
                <h5 class="tittle">ALGOR<span>ITMO</span></h5>
                <div class="algorithm-body">
                    <p>
                        <img src="img/algorithm.jpg" class="img" alt="...">
                        En matemáticas, lógica, ciencias de la computación y disciplinas
                        relacionadas, un algoritmo (del latín, dixit
                        algorithmus y este del griego arithmos, que significa «número», quizá también con
                        influencia del nombre del matemático
                        persa Al-Juarismi)​ es un conjunto de instrucciones o reglas definidas y no-ambiguas,
                        ordenadas y finitas que permite,
                        típicamente, solucionar un problema, realizar un cómputo, procesar datos y llevar a cabo
                        otras tareas o actividades.
                        Dados un estado inicial y una entrada, siguiendo los pasos sucesivos se llega a un
                        estado final y se obtiene una
                        solución. Los algoritmos son el objeto de estudio de la algoritmia.</p>
                    <p>
                        En la vida cotidiana, se emplean algoritmos frecuentemente para
                        resolver problemas. Algunos ejemplos son los manuales de
                        usuario, que muestran algoritmos para usar un aparato, o las instrucciones que recibe un
                        trabajador de su patrón.
                        Algunos ejemplos en matemática son el algoritmo de multiplicación, para calcular el
                        producto, el algoritmo de la
                        división para calcular el cociente de dos números, el algoritmo de Euclides para obtener
                        el máximo común divisor de dos
                        enteros positivos, o el método de Gauss para resolver un sistema de ecuaciones lineales.
                    </p>
                    <p>
                        En términos de programación, un algoritmo es una secuencia de
                        pasos lógicos que permiten solucionar un problema. Los
                        derechos de autor otorgan al propietario el derecho exclusivo sobre el uso de la obra,
                        con algunas excepciones. Cuando
                        alguien crea una obra original fija en un medio tangible, automáticamente se convierte
                        en el propietario de los derechos
                        de autor de dicha obra.</p>
                    <h5 class="h5">Diagrama<span> de flujo</span></h5>
                    <p>
                        Los diagramas de flujo son descripciones gráficas de algoritmos; usan símbolos
                        conectados con flechas para indicar la
                        secuencia de instrucciones y están regidos por ISO.</p>
                    <p>
                        Los diagramas de flujo son usados para representar algoritmos
                        pequeños, ya que abarcan mucho espacio y su construcción
                        es laboriosa. Por su facilidad de lectura son usados como introducción a los algoritmos,
                        descripción de un lenguaje y
                        descripción de procesos a personas ajenas a la computación.</p>
                    <h5 class="h5">Pseudo<span>código</span></h5>
                    <p>
                        El pseudocódigo (falso lenguaje, el prefijo pseudo significa falso) es una descripción
                        de alto nivel de un algoritmo que
                        emplea una mezcla de lenguaje natural con algunas convenciones sintácticas propias de
                        lenguajes de programación, como
                        asignaciones, ciclos y condicionales, aunque no está regido por ningún estándar.</p>
                    <p>
                        El pseudocódigo está pensado para facilitar a las personas el
                        entendimiento de un algoritmo, y por lo tanto puede omitir
                        detalles irrelevantes que son necesarios en una implementación. Programadores diferentes
                        suelen utilizar convenciones
                        distintas, que pueden estar basadas en la sintaxis de lenguajes de programación
                        concretos. Sin embargo, el pseudocódigo,
                        en general, es comprensible sin necesidad de conocer o utilizar un entorno de
                        programación específico, y es a la vez
                        suficientemente estructurado para que su implementación se pueda hacer directamente a
                        partir de él.</p>
                    <p>
                        Así el pseudocódigo cumple con las funciones antes mencionadas para
                        representar algo abstracto los protocolos son los
                        lenguajes para la programación.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>