<div class="container-fluid wrapper-section-dev">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp">
                    <img src="img/main-pick.jpg" alt="">
                </div>
            </header>
            <div class="dev-tittle">
                <h1 class="tittle">Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tittle-first">
                <h1>DESARROLLO DE <span>PÁGINAS WEB</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="wrapper-perfil">
                <img src="img/perfil.png" class="img" alt="...">
                <div class="perfil-body">
                    <h5 class="tittle"><span>Luis Fernando</span> Rodríguez Ponce</h5>
                    <div class="w-100">&nbsp</div>
                    <h6 class="tittle2">Freelancer</h6>
                    <p>Sigueme en mis redes sociales!!!</p>
                    <div class="social-network-wrapper">
                        <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                            <div class="social-icon facebook"></div>
                        </a>
                        <a href="https://twitter.com/lfgotluis3" target="_blank">
                            <div class="social-icon twiter"></div>
                        </a>
                        <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                            <div class="social-icon arduino"></div>
                        </a>
                        <a href="https://github.com/lfgotluis3" target="_blank">
                            <div class="social-icon git"></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber"
                            target="_blank">
                            <div class="social-icon youtube"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="wrapper-devcontact">
                <img src="img/158274-200.png" class="img" alt="...">
                <div class="devcontact-body">
                    <h5 class="tittle"><span>Cont</span>acto</h5>
                    <div class="tel">&nbsp</div>
                    <a href="tel:+525534296773">
                        <p class="tel">55 3429 6773</p>
                    </a>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                        <p class="email">developerluisf3@outlook.com</p>
                    </a>
                    <p>Ciudad de México, Cuauhtémoc</p>
                    <div class="w-100">&nbsp</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="wrapper-devpurposes">
                <img src="img/desarrollo.png" class="img" alt="...">
                <div class="devpurposes-body">
                    <h5 class="tittle"><span>Desa</span>rrollo</h5>
                    <div class="w-100">&nbsp</div>
                    <p>Necesitas una página personal o para tú negocio!!!</p>
                    <div class="wrapper-btn">
                        <button id="submit" type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#staticBackdrop">
                        Envia tu propuesta
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">ALGORITMO</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">                       
            <div class="wrapper-algorithm">
                <h5 class="tittle">ALGOR<span>ITMO</span></h5>
                <div class="algorithm-body">
                    <p>
                        <img src="img/algorithm.jpg" class="img" alt="...">
                        En matemáticas, lógica, ciencias de la computación y disciplinas
                        relacionadas, un algoritmo (del latín, dixit
                        algorithmus y este del griego arithmos, que significa «número», quizá también con
                        influencia del nombre del matemático
                        persa Al-Juarismi)​ es un conjunto de instrucciones o reglas definidas y no-ambiguas,
                        ordenadas y finitas que permite,
                        típicamente, solucionar un problema, realizar un cómputo, procesar datos y llevar a cabo
                        otras tareas o actividades.
                        Dados un estado inicial y una entrada, siguiendo los pasos sucesivos se llega a un
                        estado final y se obtiene una
                        solución. Los algoritmos son el objeto de estudio de la algoritmia.</p>
                    <p>
                        En la vida cotidiana, se emplean algoritmos frecuentemente para
                        resolver problemas. Algunos ejemplos son los manuales de
                        usuario, que muestran algoritmos para usar un aparato, o las instrucciones que recibe un
                        trabajador de su patrón.
                        Algunos ejemplos en matemática son el algoritmo de multiplicación, para calcular el
                        producto, el algoritmo de la
                        división para calcular el cociente de dos números, el algoritmo de Euclides para obtener
                        el máximo común divisor de dos
                        enteros positivos, o el método de Gauss para resolver un sistema de ecuaciones lineales.
                    </p>
                    <p>
                        En términos de programación, un algoritmo es una secuencia de
                        pasos lógicos que permiten solucionar un problema. Los
                        derechos de autor otorgan al propietario el derecho exclusivo sobre el uso de la obra,
                        con algunas excepciones. Cuando
                        alguien crea una obra original fija en un medio tangible, automáticamente se convierte
                        en el propietario de los derechos
                        de autor de dicha obra.</p>
                    <h5 class="h5">Diagrama<span> de flujo</span></h5>
                    <p>
                        Los diagramas de flujo son descripciones gráficas de algoritmos; usan símbolos
                        conectados con flechas para indicar la
                        secuencia de instrucciones y están regidos por ISO.</p>
                    <p>
                        Los diagramas de flujo son usados para representar algoritmos
                        pequeños, ya que abarcan mucho espacio y su construcción
                        es laboriosa. Por su facilidad de lectura son usados como introducción a los algoritmos,
                        descripción de un lenguaje y
                        descripción de procesos a personas ajenas a la computación.</p>
                    <h5 class="h5">Pseudo<span>código</span></h5>
                    <p>
                        El pseudocódigo (falso lenguaje, el prefijo pseudo significa falso) es una descripción
                        de alto nivel de un algoritmo que
                        emplea una mezcla de lenguaje natural con algunas convenciones sintácticas propias de
                        lenguajes de programación, como
                        asignaciones, ciclos y condicionales, aunque no está regido por ningún estándar.</p>
                    <p>
                        El pseudocódigo está pensado para facilitar a las personas el
                        entendimiento de un algoritmo, y por lo tanto puede omitir
                        detalles irrelevantes que son necesarios en una implementación. Programadores diferentes
                        suelen utilizar convenciones
                        distintas, que pueden estar basadas en la sintaxis de lenguajes de programación
                        concretos. Sin embargo, el pseudocódigo,
                        en general, es comprensible sin necesidad de conocer o utilizar un entorno de
                        programación específico, y es a la vez
                        suficientemente estructurado para que su implementación se pueda hacer directamente a
                        partir de él.</p>
                    <p>
                        Así el pseudocódigo cumple con las funciones antes mencionadas para
                        representar algo abstracto los protocolos son los
                        lenguajes para la programación.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">TECNOLOGÍA</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrapper-tecnology">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/javascript.png" class="img" alt="...">
                        <h3 class="tittle">JavaScript</h3>
                    </div>
                    <div class="col-md-8">
                        <div class="tecnology-body">
                            <h5 class="h5">TECNOLOGÍAS <span>UTILIZADAS</span></h5>
                            <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">
                                <p class="text">HTML (estructura)</p>
                            </a>
                            <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
                                <p class="text">CSS (estilo)</p>
                            </a>
                            <a href="https://getbootstrap.com/" target="_blank">
                                <p class="text">BOOTSTRAP (framework de diseño)</p>
                            </a>
                            <a href="https://material.io/" target="_blank">
                                <p class="text">MATERIAL DESIGN (framework de diseño)</p>
                            </a>
                            <a href="https://es.reactjs.org/" target="_blank">
                                <p class="text">REACT JS (biblioteca para construir interfaces de usuario)</p>
                            </a>
                            <a href="https://www.javascript.com/" target="_blank">
                                <p class="text">JAVASCRIPT (lenguaje de programación)</p>
                            </a>
                            <a href="https://nodejs.org/es/" target="_blank">
                                <p class="text">NODE JS (servidor javascript)</p>
                            </a>
                            <a href="https://www.mongodb.com/es" target="_blank">
                                <p class="text">MONGO DB (base de datos javascript)</p>
                            </a>
                            <a href="https://firebase.google.com" target="_blank">
                                <p class="text">FIREBASE (plataforma de desarrollo de app)</p>
                            </a>
                            <a href="https://www.heroku.com/" target="_blank">
                                <p class="text">HEROKU (plataforma de implementación y ejecución de app)</p>
                            </a>
                            <a href="https://git-scm.com/" target="_blank">
                                <p class="text">GIT (sistema de control de versiones)</p>
                            </a>
                            <a href="https://github.com/" target="_blank">
                                <p class="text">GITHUB (plataforma de desarrollo)</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="wrapper-git">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/github.png" class="img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="git-body">
                            <h5 class="tittle">GIT<span>HUB</span></h5>
                            <p class="text">GitHub es una forja (plataforma de desarrollo colaborativo) para alojar
                                proyectos utilizando el sistema de control de
                                versiones Git. Se utiliza principalmente para la creación de código fuente de programas
                                de computadora. El software que
                                opera GitHub fue escrito en Ruby on Rails. Desde enero de 2010, GitHub opera bajo el
                                nombre de GitHub, Inc.
                                Anteriormente era conocida como Logical Awesome LLC. El código de los proyectos alojados
                                en GitHub se almacena
                                típicamente de forma pública, aunque utilizando una cuenta de pago, también permite
                                hospedar repositorios privados.</p>

                            <p class="text">El 4 de junio de 2018,      Microsoft compró GitHub por la cantidad de 7.500
                                millones de dólares.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="wrapper-fireb">
                <h5 class="tittle">FIRE<span>BASE</span></h5>
                <div class="fireb-body">
                    <p class="text">
                        <img src="img/social.png" class="img" alt="...">
                        Firebase es una plataforma para el desarrollo de aplicaciones web y
                        aplicaciones
                        móviles desarrollada por James Tamplin
                        y Andrew Lee en 2012 y adquirida por Google en 2014.
                    </p>
                    <p class="text">
                        Es una plataforma ubicada en la nube, integrada con Google Cloud
                        Platform, que usa un conjunto de herramientas para la creación y sincronización de
                        proyectos que serán dotados de alta calidad, haciendo posible el crecimiento del número
                        de usuarios y dando resultado también a la obtención de una mayor monetización.
                    </p>
                    <p class="text">
                        Los desarrolladores tendrán una serie de ventajas al usar esta
                        plataforma:
                    </p>
                    <p class="text">
                        Sincronizar fácilmente los datos de sus proyectos sin tener que
                        administrar conexiones o escribir lógica de sincronización compleja.
                    </p>
                    <p class="text">
                        Usa un conjunto de herramientas multiplataforma: se integra fácilmente
                        para plataformas web como en aplicaciones móviles. Es compatible con grandes
                        plataformas, como IOS, Android, aplicaciones web, Unity y C++.
                    </p>
                    <p class="text">
                        Usa la infraestructura de Google y escala automáticamente para cualquier tipo de aplicación,
                        desde las más pequeñas hasta las más potentes.
                    </p>
                    <p class="text">
                        Crea proyectos sin necesidad de un servidor: Las herramientas se
                        incluyen en los SDK para los dispositivos móviles y
                        web, por lo que no es necesario la creación de un servidor para el proyecto.
                    </p>
                    <p class="text">
                        Firebase dota a sus usuarios de una gran documentación para crear
                        aplicaciones usando esta plataforma.
                    </p>
                    <p class="text">
                        Aparte de esto, ofrece soporte gratuito mediante correo electrónico
                        para todos sus usuarios, y además sus desarrolladores participan
                        activamente en plataformas como Github y StackOverflow, así como poseen un canal de
                        Youtube ​
                        explicando el funcionamiento de varias de sus herramientas.
                    </p> 
                    <p class="text">
                        Gracias a todas estas funcionalidades, cualquier desarrollador puede combinar y adaptar la
                        plataforma a medida de sus
                        necesidades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">DISEÑO WEB RESPONSIVO</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrapper-resp">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/responsive.jpg" class="img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="resp-body">
                            <h5 class="tittle">RESPO<span>NSIVE</span></h5>
                            <p class="text">
                                El diseño web adaptable (también diseño web adaptativo o responsivo; este último calco del inglés responsive web
                                design), es una filosofía de diseño y desarrollo cuyo objetivo es adaptar la apariencia de
                                las páginas web al
                                dispositivo que se esté utilizando para visitarlas.
                            </p>
                            <p class="text">
                                Hoy día las páginas web se ven en multitud de dispositivos como
                                tabletas, teléfonos inteligentes, libros electrónicos, portátiles, PC, etcétera. Además,
                                aún dentro de cada tipo, cada
                                dispositivo tiene sus características concretas: tamaño de pantalla, resolución,
                                potencia de CPU, sistema operativo o
                                capacidad de memoria entre otras. Esta tecnología pretende que con un único diseño web,
                                todo se vea correctamente en
                                cualquier dispositivo.
                            </p>
                            <p class="text">
                                El diseñador y autor norteamericano Ethan Marcotte creó y difundió esta
                                técnica a partir de una serie de artículos en A
                                List Apart, una publicación en línea especializada en diseño y desarrollo web, idea que
                                luego extendería en su libro
                                Responsive Web Design.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>