<div class="container-fluid luis">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp"></div>
            </header>
            <div class="card-title-luis">
                <h1>Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-title-first">
                <h1>FULL-STACK-<span>JAVASCRIPT-DEVELOPMENT</span></h1>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="contact-section">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/main-pick.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><span>Luis Fernando</span> Rodríguez Ponce</h5>
                            <div class="w-100">&nbsp</div>
                            <a href="tel:+525534296773">
                                <p class="tel">55 3429 6773</p>
                            </a>
                            <a href="https://mail.google.com/mail/u/1/?tab=wm1#inbox" target="_blank">
                                <p class="email">
                                    developerluisf3@gmail.com
                                </p>
                            </a>
                            <p>Ciudad de México, Cuauhtémoc</p>
                            <p>Necesitas una página personal o para tú negocio!!!</p>
                            <div class="w-100">&nbsp</div>
                            <div class="wrapper-btn">
                                <button id="submit" type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
                                    Envia tu propuesta
                                </button>
                            </div>
                        </div>
                        <div class="social-network-wrapper">
                            <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                                <div class="social-icon facebook"></div>
                            </a>
                            <a href="https://twitter.com/lfgotluis3" target="_blank">
                                <div class="social-icon twiter"></div>
                            </a>
                            <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                                <div class="social-icon arduino"></div>
                            </a>
                            <a href="https://github.com/lfgotluis3" target="_blank">
                                <div class="social-icon git"></div>
                            </a>
                            <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber" target="_blank">
                                <div class="social-icon youtube"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="services-section">
                <video src="vid/luis_f.mp4" class="vid" poster="img/icon.jpg" autoplay loop></video>
                <div class="services-body">
                    <h5 class="services-title">Serv<span>icios</span></h5>
                    <p class="services-text">Desarrollo de páginas Web</p>
                    <div class="wrapper-btn">
                        <a href="web.html" class="btn btn-success">Ir a Servicios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">JAVASCRIPT</h2>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row ">
        <div class="col-12 col-lg-4">
            <div class="wrapper-carrousel">
                <div id="intro-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#intro-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#intro-carousel" data-slide-to="1"></li>
                        <li data-target="#intro-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active rounded">
                            <img src="img/descarga.png" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/nodejs.png" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/mongoose.png" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/github1.png" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/boots.jpg" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/jquery.jpg" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/js.jpg" class="d-block w-100 rounded" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="img/google.webp" class="d-block w-100 rounded" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#intro-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#intro-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card-js1">
                <div class="card-header-js1">
                    <h5 class="card-title">FULL STACK <span>JAVASCRIPT DEVELOPER</span></h5>
                </div>
                <div class="card-body-js">
                    <p class="paragraph">Un desarrollador de JavaScript de pila completa es una
                        persona que puede desarrollar software de cliente y servidor.
                    </p>
                    <p class="paragraph">Además de dominar HTML y CSS, también sabe cómo:</p>
                    <ul>
                        <li class="paragraph">Programar un navegador (como usar JavaScript, jQuery,
                            Angular o Vue).</li>
                        <li class="paragraph">Programar un servidor (como usar Node.js).</li>
                        <li class="paragraph">Programar una base de datos (como usar MongoDB).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card-js2">
                <div class="card-header-js2">
                    <h5 class="card-title">FULL STACK <span>JAVASCRIPT</span></h5>
                </div>
                <div class="card-body-js2">
                    <p class="paragraph">JavaScript ha existido por más de 20 años. Es el lenguaje de
                        programación dominante en el desarrollo web.</p>
                    <p class="paragraph">Al principio, JavaScript era un idioma para el cliente web
                        (navegador). Luego vino la capacidad de usar JavaScript en
                        el servidor web (con Node.js).</p>
                    <p class="paragraph">Hoy en día, la palabra de moda más popular es "Full Stack
                        JavaScript".</p>
                    <p class="paragraph">La idea de "Full Stack JavaScript" es que todo el software en
                        una aplicación web, tanto del lado del cliente como del
                        servidor, debe escribirse solo con JavaScript.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>