<div class="container-fluid luis">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp"></div>
            </header>
            <div class="card-title-luis">
                <h1>Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-title-first">
                <h2>FULL-STACK-<span>JAVASCRIPT-DEVELOPMENT</span></h2>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="contact-section">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/main-pick.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><span>Luis Fernando</span> Rodríguez Ponce</h5>
                            <div class="w-100">&nbsp</div>
                            <a href="tel:+525534296773">
                                <p class="tel">55 3429 6773</p>
                            </a>
                            <a href="https://mail.google.com/mail/u/1/?tab=wm1#inbox" target="_blank">
                                <p class="email">
                                    developerluisf3@gmail.com
                                </p>
                            </a>
                            <p>Ciudad de México, Cuauhtémoc</p>
                            <p>Necesitas una página personal o para tú negocio!!!</p>
                            <div class="w-100">&nbsp</div>
                            <div class="wrapper-btn">
                                <button id="submit" type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
                                    Envia tu propuesta
                                </button>
                            </div>
                        </div>
                        <div class="social-network-wrapper">
                            <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                                <div class="social-icon facebook"></div>
                            </a>
                            <a href="https://twitter.com/lfgotluis3" target="_blank">
                                <div class="social-icon twiter"></div>
                            </a>
                            <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                                <div class="social-icon arduino"></div>
                            </a>
                            <a href="https://github.com/lfgotluis3" target="_blank">
                                <div class="social-icon git"></div>
                            </a>
                            <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber" target="_blank">
                                <div class="social-icon youtube"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="services-section">
                <video src="vid/luis_f.mp4" class="vid" poster="img/icon.jpg" autoplay loop></video>
                <div class="card-body">
                    <h5 class="card-title">Serv<span>icios</span></h5>
                    <p class="card-text">Desarrollo de páginas Web</p>
                    <div class="wrapper-btn">
                        <a href="web.html" class="btn btn-success">Ir a Servicios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>