<div class="container-fluid wrapper-section-profile">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp">
                    <img src="img/main-pick.jpg" alt="">
                </div>
            </header>
            <div class="profile-tittle">
                <h1 class="tittle">Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tittle-first">
                <h1>MI <span>PERFIL</span></h1>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="list-group-profile">
                <a href=""><button type="button" class="btn btn-outline-success active">Mi perfil</button></a>
                <a href=""><button type="button" class="btn btn-outline-success">Tú curriculum</button></a>
                <a href=""><button type="button" class="btn btn-outline-success">Mi curriculum</button></a>
                <button id="submit" type="button" class="btn btn-outline-success" data-toggle="modal"
                    data-target="#staticBackdrop">
                    Envía tú propuesta
                </button>
                <a href="#hobbies">
                    <button type="button" class="btn btn-outline-success">Videos</button>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="profile-contact-section">
                <img src="img/main-pick.jpg" class="img" alt="...">
                <div class="profile-contact-body">
                    <h3 class="title">Hola <span>Soy Luis Fernando! </span></h3>
                    <h4 class="freelancer">Freelancer</h4>
                    <hr>
                    <div class="data-wrapper">
                        <a href="tel:+525534296773">
                            <button class="btn btn-success">Llamar</button>
                        </a>
                        <a href="https://mail.google.com/mail/u/1/?tab=wm1#inbox" target="_blank">
                            <p class="email">
                                developerluisf3@gmail.com
                            </p>
                        </a>
                        <p class="paragraph">Ciudad de México</p>
                    </div>
                    <div class="social-network-wrapper">
                        <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                            <div class="social-icon facebook"></div>
                        </a>
                        <a href="https://twitter.com/lfgotluis3" target="_blank">
                            <div class="social-icon twiter"></div>
                        </a>
                        <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                            <div class="social-icon arduino"></div>
                        </a>
                        <a href="https://github.com/lfgotluis3" target="_blank">
                            <div class="social-icon git"></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber"
                            target="_blank">
                            <div class="social-icon youtube"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="resume-wrapper">
                <div class="section-header">Educación</div>
                <div class="w-100">&nbsp</div>
                <div class="data-wrapper">
                    <h4 class="title">PERFIL</h4>
                    <h6 class="subtitle">AUTODIDACTA:</h6>
                    <p>
                        Consiste en aprender mediante la búsqueda individual de la información y la realización
                        también
                        individual de prácticas o experimentos. A una persona que aprende por sí solo se le
                        llama
                        autodidacta.
                    </p>
                    <p>
                        El autoaprendizaje es algo que el ser humano, los mamíferos y otros animales poseen en sí
                        mismos y se
                        pone en evidencia cuando juegan. Jugar, aunque a veces no se tiene presente, tiene la
                        función
                        principal de aprender nuevas habilidades o mejorar las que ya se poseen. Muchas veces,
                        el
                        autoaprendizaje comienza jugando, y pasado un tiempo se descubre que se ha aprendido
                        mucho de este
                        modo y que no solo sirve para pasárselo bien.
                    </p>
                    <p>
                        Entonces a manera de síntesis, podemos afirmar que la autonomía en el aprendizaje es la
                        facultad que
                        tiene una persona para dirigir, controlar, regular y evaluar su forma de aprender de
                        forma
                        consciente e intencionada, haciendo uso de estrategias de aprendizaje para lograr el
                        objetivo o meta
                        deseados.
                    </p>
                    <p>
                        Esta autonomía debe de ser el fin último de la educación, que se expresa en cómo aprender
                        a aprender.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2" id="hobbies">HOOBIES</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card wrapper-hobbies">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/futbolp.jpg" class="card-img futimg" alt="Fútbol">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title"><span>Fút</span>bol</h1>
                            <p class="card-text">
                                Videos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card wrapper-hobbies">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="img/algorithm.jpg" class="card-img" alt="Programación">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title"><span>Progra</span>mación</h1>
                            <p class="card-text">
                                Códigos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>