<div class="container-fluid wrapper-section-port">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp">
                    <img src="img/main-pick.jpg" alt="">
                </div>
            </header>
            <div class="port-tittle">
                <h1 class="tittle">Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tittle-first">
                <h1>MI <span>PORTAFOLIO</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="wrapper-portfolio">
                <img src="/img/back-end.jpg" class="img" alt="...">
                <div class="portfolio-body">
                    <h4 class="tittle">
                        Proyectos y Construcciones Agfer S.A. de C.V.
                    </h4>
                    <p class="text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="">
                        <p class="port-link">
                            https://luisf.com
                        </p>
                    </a>
                </div>
                <div class="wrapper-svg">
                    <svg viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor"
                        xmlns="icons/chevron-up.svg">
                        <path fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                    </svg>
                    <svg viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                        xmlns="icons/chevron-down.svg">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
                <ul class="list-group list-group-flush">
                    <h5 class="h5">
                        <span>Tecnologías</span> utilizadas
                    </h5>
                    <li class="list-group-item">
                        Dapibus ac facilisis
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="portfolio-footer">
                    <a href="#">
                        <p class="link">
                            Visitar sitio
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
