<div class="container-fluid wrapper-section-services">
    <div class="row-fluid">
        <div class="col-fluid">
            <header>
                <div class="wrapper-userimgapp">
                    <img src="img/main-pick.jpg" alt="">
                </div>
            </header>
            <div class="services-tittle">
                <h1 class="tittle">Desarrollo de <span>Páginas Web</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="tittle-first">
                <h1>SERV<span>ICIOS</span></h1>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <div class="wrapper-design">
                <div class="design-header">
                    <h5 class="tittle">Diseño Web<span> Responsivo</span></h5>
                </div>
                <div class="design-body">
                    <p>
                        Presente su sitio en cualquier dispositivo móvil, sin importar si visita el sitio desde una
                        tableta o desde un celular, el sitio se ajustará para mostrar la información correctamente,
                        haciendo que la experiencia del usuario sea única.
                    </p>
                    <p>
                        El diseño del sitio web responde y se adapta a los dispositivos móviles en la que se está
                        mostrando.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <img src="img/descarga.png" class="img-design1" alt="Responsive image">
        </div>
    </div>
</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="w-100">&nbsp</div>
<div class="container-fluid card-title-sections">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="card-title">
                <h2 class="h2">ALGORITMO</h2>
            </div>
        </div>
    </div>
</div>