.luis {
    width: 100%;
    height: 100vh;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(25,25,25,.7), rgba(0,0,0,.5) ), url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
}
.luis header {
    padding: 10px 0 10px 0;
}
.luis header .wrapper-userimgapp{
    width: 75px;
    height: 75px;
    margin: 0 15px 0 auto;
}
.luis header .wrapper-userimgapp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.luis .tittle-luis {
    border: o;
    margin: 100px auto 0 auto;
    padding: 6%;
    text-align: center;
    background-color: rgba(0,0,0,.0);
}
.luis .tittle-luis .tittle {
    color: white;
    font-family: fantasy;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
}
.luis .tittle-luis .tittle span {
    color: green;
    font-family: fantasy;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
}
@media (min-width: 576px) and (max-width: 767px) {
    .luis .tittle-luis .tittle  {
        font-size: 35px;
    }
    .luis .tittle-luis .tittle span {
        font-size: 35px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .luis .tittle-luis .tittle {
        font-size: 45px;
    }
    .luis .tittle-luis .tittle span {
        font-size: 45px;
    }
}
@media (min-width: 992px) { 
    .luis .tittle-luis .tittle {
        font-size: 70px;
    }
    .luis .tittle-luis .tittle span {
        font-size: 70px;
    } 
}

.tittle-first {
    margin: 15px 0px 20px 0px;
}
.tittle-first h1 {
    text-align: justify;
    text-align: center;
    font-family: fantasy;
    text-shadow: 2px 2px 2px green;
} 
.tittle-first h1 span {
    text-align: justify;
    text-align: center;
    font-family: fantasy;
    color: green;
    text-shadow: 2px 2px 2px black;
}

.contact-section {
    margin: 20px 0px 20px 0px;
    border: 1px solid green;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
    border-radius: 5px;
}
.contact-section .card-img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
@media only screen and (min-width: 768px) {
    .contact-section .card-img {
        margin: 20px;
        border-radius: 5px;
    }
}
.contact-section .card-body h5 {
    font-family: fantasy;
    text-align: center;
}
.contact-section .card-body h5 span {
    color: green;
    font-family: fantasy;
    text-align: center;
}
.contact-section .card-body a {
    text-decoration: none;
}
.contact-section .card-body .tel {
    color: #333;
    text-align: center;
}
.contact-section .card-body .tel:hover {
    color: green;
    text-align: center;
    font-weight: bold;
    transform: scale(1.2);
    transition: 1s;
}
.contact-section .card-body .email {
    color: green;
    text-align: center;
}
.contact-section .card-body .email:hover {
    text-align: center;
    transform: scale(1.2);
    transition: 1s;
}
.contact-section .card-body p {
    text-align: justify;
    text-align: center;
}
.contact-section .card-body .wrapper-btn {
    display: flex;
}
.contact-section .card-body .wrapper-btn .btn {
    margin: 3px auto 0px auto;
    box-shadow: 3px 3px 3px #333;
}
.contact-section .card-body .wrapper-btn .btn:hover {
    margin: 3px auto 0px auto;
    box-shadow: 3px 3px 3px #333;
    transform: scale(1.1);
    transition: 1s;
}
.contact-section .social-network-wrapper {
    width: 100%;
    margin: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;
}
.contact-section .social-network-wrapper h6 {
    display: block;
}
.contact-section .social-network-wrapper .social-icon {
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.contact-section .social-network-wrapper .social-icon.facebook {
    background-image: url("../img/facebook.png");
}
.contact-section .social-network-wrapper .social-icon.facebook:hover {
    transform: rotateY(360deg);
    transition: 2s;
}
.contact-section .social-network-wrapper .social-icon.twiter {
    background-image: url("../img/twiter.png");
}
.contact-section .social-network-wrapper .social-icon.twiter:hover {
    transform: rotateY(360deg);
    transition: 2s;
}
.contact-section .social-network-wrapper .social-icon.arduino {
    background-image: url("../img/arduino.png");
}
.contact-section .social-network-wrapper .social-icon.arduino:hover {
    transform: rotateY(360deg);
    transition: 2s;
}
.contact-section .social-network-wrapper .social-icon.git {
    background-image: url("../img/github.png");
}
.contact-section .social-network-wrapper .social-icon.git:hover {
    transform: rotateY(360deg);
    transition: 2s;
}
.contact-section .social-network-wrapper .social-icon.youtube {
    background-image: url("../img/youtube.png");
}
.contact-section .social-network-wrapper .social-icon.youtube:hover {
    transform: rotateY(360deg);
    transition: 2s;
}
.contact-section .social-network-wrapper .social-icon:not(:first-of-type) {
    margin-left: 5px;
}

.services-section {
    border: 1px solid green;
    margin: 20px 0px 0px 0px;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
    border-radius: 5px;
}
.services-section .vid {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.services-section .services-body {
    margin-bottom: 5%;
}
@media only screen and (min-width: 991px) {
    .services-section .services-body {
        margin-bottom: 18%;
    }
}
@media only screen and (min-width: 1200px) {
    .services-section .services-body {
        margin-bottom: 14%;
    }
}
.services-section .services-body .services-title {
    font-family: fantasy;
    text-align: center;
}
.services-section .services-body .services-title span {
    color: green;
    font-family: fantasy;
    text-align: center;
}
.services-section .services-body .services-text {
    text-align: center;
}
.services-section .services-body .wrapper-btn {
    display: flex;
}
.services-section .services-body .wrapper-btn .btn {
    margin: 50px auto 0px auto;
    box-shadow: 3px 3px 3px #333;
}
.services-section .services-body .wrapper-btn .btn:hover {
    transform: scale(1.1);
    transition: 1s;
}
@media only screen and (min-width: 1200px) {
    .services-section .services-body .wrapper-btn .btn {
        margin: 20px auto 0px auto;
        box-shadow: 3px 3px 3px #333;
    }
    .services-section .services-body .wrapper-btn .btn:hover {
        transform: scale(1.1);
        transition: 1s;
    }
}

.card-title-sections {
    background-color: #343a40;
    margin: 0px 0px 30px 0px;
    padding: 0;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
}
.card-title-sections .card-title {
    margin: 2% 0px 2% 0px;
}
.card-title-sections .card-title .h2 {
    text-align: center;
    font-family: fantasy;
    color: #28a745;
}

.wrapper-carrousel {
    margin: 20px 0px;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
    border-radius: 5px;
}

.card-js1 {
    margin: 20px 0px;
    border: 1px solid green;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
    border-radius: 5px;
}
.card-js1 .card-header-js1 {
    border-bottom: 2px solid green;
    margin: 25px;
    background-color: white;
}
.card-js1 .card-header-js1 .card-title {
    text-align: center;
    font-family: fantasy;
    
}
.card-js1 .card-header-js1 span {
    font-family: fantasy;
    color: green;
}
.card-js1 .card-body-js {
    padding: 25px;
    display: flexbox;
    text-align: justify;
}
@media only screen and (min-width: 768px) {
    .card-js1 .card-body-js {
        margin-bottom: 12%;
    }
}
@media only screen and (min-width: 992px) {
    .card-js1 .card-body-js {
        margin-bottom: 30%;
    }
}
@media only screen and (min-width: 1200px) {
    .card-js1 .card-body-js {
        margin-bottom: 18%;
    }
}
.card-js1 .card-body-js .paragraph {
    color: #6c757d;
}

.card-js2 {
    margin: 20px 0px;
    border: 1px solid green;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
    border-radius: 5px;
}
.card-js2 .card-header-js2 {
    border-bottom: 2px solid green;
    margin: 25px;
    background-color: white;
}
.card-js2 .card-header-js2 .card-title {
    text-align: center;
    font-family: fantasy;
    
}
.card-js2 .card-header-js2 span {
    font-family: fantasy;
    color: green;
}
.card-js2 .card-body-js2 {
    padding: 25px;
    display: flexbox;
    text-align: justify;
}
.card-js2 .card-body-js2 .paragraph {
    color: #6c757d;
}

.ardu-wrapper {
    border: 1px solid green;
    margin: 20px 0px;
    padding: 1%;
    box-shadow: rgb(150,150,150) 5px 5px 5px;
}
.ardu-wrapper .card-img {
    width: 100%;
    margin: 5% 0px;
}
.ardu-wrapper .card-img:hover {
    transform: scale(1.1);
    transition: 1s;
}
.ardu-wrapper .ardu-body {
    margin: 30px 0px;
}
@media only screen and (min-width: 768px) {
    .ardu-wrapper .ardu-body {
        margin: 85px 0px;
    }
}
@media only screen and (min-width: 992px) {
    .ardu-wrapper .ardu-body {
        margin: 125px 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .ardu-wrapper .ardu-body {
        margin: 150px 0px;
    }
}
.ardu-wrapper .ardu-body .ardu-title {
    text-align: center;
    font-family: fantasy;
}
.ardu-wrapper .ardu-body .ardu-title span {
    font-family: fantasy;
    color: green;
}

.arduino-wrapper {
    margin: 40px 0px;
}
.arduino-wrapper .arduino-body {
    display: flexbox;
    text-align: justify;
}
.arduino-wrapper .arduino-body .arduino-title {
    margin: 10% 0px 5% 0px;
    text-align: left;
    font-family: fantasy;
}
.arduino-wrapper .arduino-body .arduino-title span {
    font-family: fantasy;
    color: green;
}
.arduino-wrapper .arduino-body .img {
    float: right; 
    width: 100px;
    height: 100px;
}
@media (min-width: 576px) {
    .arduino-wrapper .arduino-body .img {
        width: 200px;
        height: 200px;
    }
}
@media (min-width: 768px) {
    .arduino-wrapper .arduino-body .img {
        width: 300px;
        height: 300px;
    }
}
@media (min-width: 992px) { 
    .arduino-wrapper .arduino-body .img
        {
            width: 350px;
            height: 350px;
        } 
} 