*
    {
        font-family: Arial;
        color: #333;
    }



.navbar img
    {
        width: 100%;
        height: 100%;
    }
.navbar .tel
    {
        text-align: center;
        color: green;
    }
.navbar .tel:hover
    {
        text-align: center;
        color: white;
        font-weight: bold;
        transform: scale(1.3);
        transition: 1s;
    }