<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo de páginas Web</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/desarrollo.css">
    <link rel="stylesheet" href="/css/web.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="tel:+525534296773">
            <img class="img-responsive" src="img/LogoMakr_86AVEG.png">
            <h6 class="tel">Tel: 55 3429 6773</h6>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link inicio-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link desarrollo-link" href="/desarrollo">Desarrollo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="web">Páginas Web</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="luis" href="portfolio">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="info.html">Info</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="admin.html">Portafolio</a>
                        <a class="dropdown-item" href="adpropuestas.html">Propuestas</a>
                        <a class="dropdown-item" href="comen-ad.html">Comentarios</a>
                        <a class="dropdown-item" href="futbolad.html">Fútbol</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Carpetas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="propuestas.html">Propuestas</a>
                        <a class="dropdown-item" href="comentarios.html">Comentarios</a>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-success">Ingresar</button>
    </nav>
    {{{ body }}}
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-12 col-md-4 p-3 mx-auto">
                <div class="card card-footer1 flex-end">
                    <div class="card-body">
                        <h5 class="card-title">Servicios</h5>
                        <div class="w-100">&nbsp</div>
                        <p class="card-paragraph">Necesitas una página personal o para tú negocio!!!</p>
                        <button id="submit-button" type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#staticBackdrop">
                            Envia tu propuesta
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-3 mx-auto">
                <div class="card card-footer2 flex-end">
                    <div class="card-body">
                        <h5 class="card-title">Contacto</h5>
                        <div class="w-100">&nbsp</div>
                        <div class="row">
                            <div class="col-12">
                                <a href="tel:+525534296773">
                                    <p class="tel">55 3429 6773</p>
                                </a>
                                <a href="https://mail.google.com/mail/u/1/?tab=wm1#inbox" target="_blank">
                                    <p class="email">developerluisfernando3@gmail.com</p>
                                </a>
                                <p class="card-paragraph">Ciudad de México, Cuauhtémoc</p>
                                <a href="desarrollo.html" class="btn btn-outline-success">Ir a Desarrollo!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-3 mx-auto">
                <div class="card card-footer3 flex-end">
                    <div class="card-body">
                        <h5 class="card-title">Luis Fernando Rodríguez Ponce</h5>
                    </div>
                    <h6 class="card-mybrand">LuisF3</h6>
                    <p class="card-paragraph">Sigueme en mis redes sociales!!!</p>
                    <div class="social-network-wrapper mb-5">
                        <a href="https://www.facebook.com/profile.php?id=100008356838644" target="_blank">
                            <div class="social-icon facebook"></div>
                        </a>
                        <a href="https://twitter.com/lfgotluis3" target="_blank">
                            <div class="social-icon twiter"></div>
                        </a>
                        <a href="https://create.arduino.cc/projecthub/lfgotluis3" target="_blank">
                            <div class="social-icon arduino"></div>
                        </a>
                        <a href="https://github.com/lfgotluis3" target="_blank">
                            <div class="social-icon git"></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCVR8Cu9SWoEUTJ5BKocehVQ?view_as=subscriber"
                            target="_blank">
                            <div class="social-icon youtube"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>